* {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: default;
}

body {
    margin: 0;
    background-color: beige;
}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.restart {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}

div {
    margin: auto;
    padding: 20px;
}

.timerset {
    height: 50px;
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

body>div.board {
    padding-top: 2px;
    padding-bottom: 2px;
}

body>div.timerset>p.txttimer {
    display: inline-block;
}

body>div.timerset>p.timer {
    display: inline-block;
}

.specs {
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
    height: 28px;
}

body>div.specs>p:nth-child(1) {
    margin-right: 15px;
    display: inline-block;
    margin-top: 0;
}

body>div.specs>p:nth-child(2) {
    line-height: 28px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.choose {
    font-size: 28px;
    text-align: center;
    margin-top: 0;
    margin: 0;
    margin-bottom: 0;
}

button {
    margin: auto;
    display: block;
}

table {
    margin: auto;
    padding: 0;
}

.cell {
    width: 45px;
    height: 45px;
    margin: 12px;
    text-align: center;
    border: 1px solid lightblue;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
}

.close-cell {
    background-color: blue;
    cursor: pointer;
}

.close-cell:hover {
    background: rgba(11, 14, 223, 0.3)
}

.open-cell {
    background-color: white;
}

.level-scale {
    text-align: center;
    font-size: 20px;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
}

button.smiley {
    width: 100px;
    height: 100px;
    font-size: 70px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

body>div.level-scale>button {
    display: inline-block;
    font-size: 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

body>div.level-scale>button:nth-child(1) {
    color: green;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

body>div.level-scale>button:nth-child(2) {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

body>div.level-scale>button:nth-child(3) {
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.num1 {
    color: black;
}

.num2 {
    color: orange;
}

.num3 {
    color: red;
}

.num4 {
    color: blue;
}

.num5 {
    color: brown;
}